@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&family=Roboto+Slab:wght@500&family=Roboto:wght@100;300;400;500;700&display=swap');

$montserratFont: 'Montserrat', sans-serif;
$robotFont: 'Roboto', sans-serif;
$robotSlabFont: 'Roboto Slab', sans-serif;

$thinWeight: 100;
$extraLightWeight: 200;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;
