#about {
    margin-bottom: calcRems(40px);

    @include bp(desktop) {
        margin-bottom: calcRems(50px);
    }

    .description {
        background: $colorPurpleDk;
        padding: calcRems(60px) calcRems(80px) calcRems(140px);

        h1, p {
            color: $colorWhite;
        }

        & > div {
            margin: auto;
            max-width: calcRems(650px);
        }

        .fa-map-marker-alt {
            margin-right: calcRems(5px);
        }
    }

    #skills {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: calcRems(-75px) auto calcRems(40px);
        padding: 0 calcRems(40px);
        
        @include bp(desktop) {
            margin: calcRems(-90px) auto calcRems(45px);
            padding: 0;
            width: calcRems(920px);
        }

        section {
            background: $colorWhite;
            border: 1px solid $colorPurpleDk;
            border-radius: calcRems(15px);
            @include boxShadow();
            box-sizing: border-box;
            flex-basis: calcRems(270px);
            padding: calcRems(30px) 0;
            
            @include bp(desktop) {
                flex-basis: calcRems(286px);
                padding: calcRems(35px) 0 calcRems(50px);
            }

            &:last-of-type {
                @include bp(mobile) {
                    flex-basis: 100%;
                    margin-top: calcRems(20px);
                }
            }

            svg {
                color: $colorPurpleDk;
                font-size: calcRems(28px);
                margin-bottom: calcRems(15px);
                
                @include bp(desktop) {
                    font-size: calcRems(38px);
                    margin-bottom: calcRems(35px);
                }
            }
        }
    }

    .learn-more {
        font-size: calcRems(16px);

        @include bp(desktop) {
            font-size: calcRems(18px);
        }
    }
}