.clients {
    padding: 0 calcRems(80px);
    margin-bottom: calcRems(75px);

    @include bp(desktop) {
        margin: 0 auto calcRems(85px);
        max-width: calcRems(920px);
    }

    p {
        @include bp(desktop) {
            padding: 0 calcRems(200px) 0;
        }
    }

    &__logos {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: calcRems(20px) 0;
        
        @include bp(desktop) {
            justify-content: space-around;
            margin: calcRems(40px) 0;
        }

        .client {
            align-items: center;
            display: flex;
            justify-content: center;
            min-height: calcRems(120px);
            width: 40%;
            
            @include bp(desktop) {
                width: 30%;
            }

            img {
                width: 85%;

                @include bp(desktop) {
                    width: 65%;
                }
            }
        }
    }
}