#projects {
    margin: 0 0 calcRems(75px);
    
    @include bp(desktop) {
        margin: 0 auto calcRems(85px);
        width: calcRems(920px);
    }

    .description {
        background: $colorPurpleDk;
        margin: 0 auto calcRems(40px);
        padding: calcRems(45px) calcRems(80px);

        @include bp(desktop) {
            padding: calcRems(50px) calcRems(200px);
        }

        h1, p {
            color: $colorWhite;
        }
    }

    .project {
        border: 1px solid $colorPurpleDk;
        border-radius: calcRems(15px);
        @include boxShadow();
        box-sizing: border-box;
        margin: 0 calcRems(40px) calcRems(40px);
        padding: calcRems(40px);
        position: relative;
        
        @include bp(desktop) {
            align-items: center;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin: 0 0 calcRems(40px);
        }

        &__preview {
            @include boxShadow();
            border-radius: calcRems(10px);
            margin-bottom: calcRems(30px);
            width: 100%;

            @include bp(desktop) {
                flex-shrink: 1;
                margin: 0;
                width: 48%;
            }
            
        }

        &__details {
            width: 100%;
            
            @include bp(desktop) {
                align-self: stretch;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                width: 48%;
            }

            h2 {
                font-size: calcRems(22px);
    
                @include bp(desktop) {
                    font-size: calcRems(24px);
                    padding-bottom: calcRems(30px);
                }
            }
            
            p {
                font-size: calcRems(16px);
                font-weight: $lightWeight;
    
                @include bp(desktop) {
                    font-size: calcRems(18px);
                }
    
                &:last-of-type {
                    padding-bottom: calcRems(40px);
                }
            }
        }

    }
}