$montserratFont: 'Montserrat', sans-serif;
$robotFont: 'Roboto', sans-serif;
$robotSlabFont: 'Roboto Slab', sans-serif;

$thinWeight: 100;
$extraLightWeight: 200;
$lightWeight: 300;
$regularWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;
